* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 2px;
}

.navbar {
  background-color: #c083b9;
  width: 100%;
  height: 85px;
}

.navbar_logotipo {
  text-align: center;
  padding: 5px;
}

.header {
  background: url(./img/backgroud_header_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  width: 100%;
  height: 500px;
  color: #ffffff;
}

.container-header {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px;
  flex-direction: column;
}

.header-titulo {
  width: 90%;
  margin: 45px 0px 10px 70px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-maravilhosa-imagem {
  width: 90%;
  height: 220px;
  margin-left: 20px;
  margin-top: 50px;
}

.botao-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background: #7f479b;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 40px;
}

.botao-header:hover {
  background-color: #2e1842;
  color: #ffffff;
  transition: background-color 0.5s;
}

.maravilhosa {
  background-color: #fad8e5;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
}

.container-maravilhosa {
  text-align: center;
  padding: 0 5%;
}

.maravilhosa-vera {
  display: flex;
  align-items: center;
}

.maravilhosa-titulo {
  color: #ea4c89;
  font-size: 40px;
  text-align: end;
  font-weight: bold;
  padding-top: 40px;
  margin-right: 167px;
}

.maravilhosa-imagem {
  width: 40%;
  height: 100%;
  border-radius: 20px 0px;
  border: 5px solid #ea4c89;
}

.maravilhosa-boxBorder {
  margin: 30px;
}

.boxBorder-texto {
  margin: 30px;
  color: #462755;
  text-align: center;
  border: 1px solid #674582;
  padding: 30px;
}

.container-suaHistoria {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #625e66;
  margin-top: 60px;
}

.nossa-imagem {
  width: 30%;
  height: 100%;
  border-radius: 0px 20px;
  border: 5px solid #ea4c89;
  margin: 30px;
}

.suaHistoria-texto {
  width: 100%;
  text-align: justify;
  border: 1px solid #462755;
  padding: 30px;
  margin: 9px;
}

.suaHistoria-titulo {
  color: #462755;
  padding-bottom: 10px;
}

.suaHistoria-paragrafo {
  padding-bottom: 10px;
}

.autora {
  background-color: #b6dbf1d2;
  align-items: center;
  width: 100%;
  height: 600px;
  margin-top: 60px;
  padding: 60px;
}

.autora-titulo {
  text-align: left;
  color: #ea4c89;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.autora-sobre {
  display: flex;
}

.autora-imagem {
  width: 30%;
  border-radius: 50%;
  margin-right: 35px;
}

.autora-historia{
  margin: auto;
}

.autora-texto{
  margin-top: 20px;
}

.footer {
  background: #ea4c89;
  color: #f3f3f3;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 60px;
  font-size: 1.4rem;
  padding: 30px;
}

.footer-links {
  display: block;
  text-align: center;
  list-style: none;
}

.footer-cc {
  background: #5b5e5e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 25px;
}

@media (min-width:320px) and (max-width: 768px) {
  .maravilhosa-vera, .maravilhosa-titulo, .container-suaHistoria{
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-bottom: revert;
  }

  .autora-sobre {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 780px) {
  .container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-maravilhosa-imagem {
    width: 100%;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 180px;
  }
}